<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for reading audio files (handle both pre/post Android 13) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Internet permission for Firebase and streaming -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MusicApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicApplication">
        <activity
            android:name=".ui.activity.other.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.other.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.playlist.AddSongPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.playlist.PlaylistDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.genre.GenreDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.album.AllAlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.album.AlbumDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activities for music features -->
        <activity
            android:name=".ui.activity.player.PlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activity.upload.UploadSongActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>